WeiQuPai/resources/sass/.sass-cache
build
WeiQuPai/cordova/platforms/android/.idea
WeiQuPai/cordova/platforms/android/ant-build/
WeiQuPai/cordova/platforms/android/ant-gen/
WeiQuPai/cordova/platforms/android/gen/
WeiQuPai/cordova/platforms/android/out/
WeiQuPai/cordova/platforms/android/CordovaLib/ant-build/
WeiQuPai/cordova/platforms/android/CordovaLib/ant-gen/
WeiQuPai/cordova/platforms/android/CordovaLib/gen/
WeiQuPai/cordova/platforms/ios/www/
WeiQuPai/cordova/platforms/android/assets/www/
WeiQuPai/cordova/www/

