
@import 'sencha-touch/cupertino';
@import 'sencha-touch/cupertino/all';
@import './pony.scss';

$big-font: 1.1em;
$default-font: 1em;
$normal-font: 0.9em;
$small-font: 0.8em;
$tiny-font: 0.6em;
$text-color: #333;
$gray-color: #666;
$red-color: #d22270;
$bar-color: #0eb8b7;
$border-color: #dbdbe0;
$button-color: #0eb8b7;

$ios7-blue: #157efb;
$ios7-red: #fc3e39;
$ios7-green: #53d769;

//标题栏背影
.x-toolbar.x-docked-top{
	border-bottom:0;
	border-radius:0;
	background-color:$bar-color;
}
.x-toolbar .x-title{
	font-size:$big-font;
	font-weight:bold;
}
.x-msgbox-title.x-toolbar.x-docked-top{
	background-color:transparent;
}


//list paging的样式
.x-list-paging{
	padding:1em 0;
}
pullrefresh样式
.x-list-pullrefresh-message, .x-list-pullrefresh-updated{
	line-height:1.5;
}
.x-list-pullrefresh-arrow{
	background:transparent;
}
//自定义的disclosure项目
.w-disclosure-item{
	color: #000;
	font-weight: 400;
	border-bottom: 1px solid $border-color;
	padding:.7em 1em;
	line-height:1.5;
}
.w-disclosure-item-single{
	border-top: 1px solid $border-color;
	margin-top:1em;
}
.w-disclosure-content{
	color:$gray-color;
	margin-right:.2em;
}
//disclosure的右箭头
.w-disclosure{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack:center;
	-moz-box-pack:center;
	box-pack:center;
}
.w-disclosure-item-pressed{
	background-color:#ddd;	
}
.w-disclosure-inner{
	display:inline;
}
.w-disclosure-inner:after{
	content: '!';
	font-family: 'iOS7';
	color: #ccc;
	font-size: 14px;
	text-align: center;
	background-color: transparent;
}
.w-disclosure-title.x-container > .x-inner{
	-webkit-box-orient: horizontal !important;
	-webkit-box-align: center;
}
//列表的最上边框去掉
.x-list .x-list-item.x-list-header-wrap.x-list-item-tpl{
	border-top:0;
}

h2{
	font-size: $big-font;
	font-weight:bold;
	color:#000;
}
h3{
	font-size:$default-font;
	font-weight:bold;
	color:#000;
}

//前进的按钮没有，要重新定义
.x-button.x-button-forward {
    border : 0px;
    padding:0;
    &:after {
        content: '!';
        font-family: 'iOS7';
        color: $ios7-blue;
        font-size: 1.3em;
        text-align: center;
        background-color: transparent;
        line-height: 1.3em;
        padding-left: 0px;
    }
    .x-button-label {
        font-size: 1.1em;
        line-height: 1.3em;
        font-weight: 300;
        padding-left: 2px;
    }
}

//今日
.today-item-row{
	line-height:1.5;
}
.today-item-row .item-img{
	text-align:center;
}
.today-item-row img{
	width:240px;
	height:240px;
	padding:25px;
}
.today-item-row h2{
	line-height:1.5;
}
.today-item-row .time{
	float:right;
	margin-top:.4em;
	font-size:$tiny-font;
	color:$gray-color;
	background:#e4e8e9;
	border-radius:20px;
	padding:.2em 1em;
}
.today-item-row .price{
	font-size:$default-font;
	color:$red-color;
}
.today-item-row .market-price{
	text-decoration:line-through;
	color:$gray-color;
	font-size:$small-font;
}

.index-ad{
	height: 75px;
	border-bottom:1px solid $bar-color;
}
.index-ad .index-ad-item{
	background-size: 100% auto;
}

//商品详情图片列表
.item-detail-pic-container{
	padding:10px 5px;
}
.item-detail-pic-container .x-button{
	height:270px;
	padding:0 10px;
}
.item-detail-pic-container .x-item-disabled{
	opacity:0.6;
}
.item-detail-pic{
	width:240px;
	height:270px;
}
.item-detail-info{
	padding:.7em 1em 1.2em;
	border-bottom:1px solid $border-color;
}
.item-detail-info .market-price{
	text-decoration:line-through;
	color:$gray-color;
	font-size:$tiny-font;
	float:right;
	clear:right;
	
}
.item-detail-info .price{
	font-size:$default-font;
	color:$red-color;
	float:right;
	clear:right;
}
//已拍
.myauction-row{
	margin-top:10px;
	overflow:auto;
}
.myauction-row img{
	float:left;
	display:block;
	width:78px;
	height:78px;
	border-radius: 5px;
	border:1px solid #ccc;
}
.myauction-info{
	margin-left:90px;
	color:$text-color;
}

.myauction-info .fbig{
	font-size:$big-font;
}
.myauction-info p{
	line-height:1.5;
	font-size:$normal-font;
}

//已拍详情
.auction-info{
	padding:.7em 1em;
	line-height:1.5;
	color:$gray-color;
	border-bottom: 1px solid $border-color;
}

.auction-user-info p{
	margin-top:1.2em;
}

//晒单的列表
.showorder-row, .comment-row, .auction-user-row, .circle-row{
	overflow:auto;	
}
.show-order-row h3, .comment-row h3, .auction-user-row h3, .circle-row h3{
	margin-bottom:.5em;
}
.avatar{
	float:left;
	width:40px;
	height:40px;
}
//拍圈的个人页面，没有头像
.user-row{
	line-height:1.5;
	font-size:$normal-font;
	color:$text-color;
}
.show-order-row .info, .comment-row .info, .auction-user-row .info, .circle-row .info{
	margin-left:60px;
	line-height:1.5;
	font-size:$normal-font;
	color:$text-color;
}
.pic-list{
	margin:1em 0;
}
.pic-list img{
	width:66px;
	height:66px;
	border:1px solid #ccc;
	border-radius:5px;
	display:inline-block;
	margin-right:10px;
}

.time{
	margin-top:.4em;
	font-size:$tiny-font;
	color:$gray-color;
	background:#e4e8e9;
	border-radius:20px;
	padding:.2em 1em;
}
//赞和评论
.up-area{
	float:right;
	font-size:$small-font;
	margin-top:4px;
}
.time-area{
	margin-top:.5em;
}

.up{
	background:url(../images/up.png) no-repeat left center;
	background-size:14px 14px;
	padding-left:20px;
	margin-right:18px;
}
.comment{
	background:url(../images/comment.png) no-repeat left center;
	background-size:14px 14px;
	padding-left:20px;
}

//支付页面
.order-item-info{
	padding:.7em 1em;
	border-bottom:1px solid $border-color;
}
.order-item-info img{
	float:left;
	width:66px;
	height:66px;
	border: 1px solid $border-color;	
}
.order-item-info .info{
	margin-left:76px;
}
.order-item-info .price-area{
	margin-top:1.5em;
	color: $gray-color;
	font-size:$small-font;
}
.order-item-info .price-area .total-pay{
	margin-left:2em;
}

//商户详情页面
.shop-detail, .item-detail{
	padding:.7em 1em;
	line-height:1.5;
}
.shop-link-btn{
	margin-top:2em;
}
.comment-input, .comment-button{
	margin:.7em 1em;
}

//我的
.w-myinfo img{
	float:left;
	width:68px;
	height:68px;
	margin-right:1em;
}
.w-myinfo p{
	color:$gray-color;
}
.w-my-button{
	background-repeat:no-repeat;
	background-size:60px 60px;
	width:60px;
	padding-top:60px;
	line-height:1.5;
	font-size:$small-font;
	margin:1em 0 0 1em;
	text-align:center;
}
.w-my-button-friend{
	background-image:url(../images/icon-friend.png);
}
.w-my-button-account{
	background-image:url(../images/icon-account.png);
}
.w-my-button-order{
	background-image:url(../images/icon-order.png);
}
.w-my-button-consignee{
	background-image:url(../images/icon-consignee.png);
}
.w-my-button-prop{
	background-image:url(../images/icon-prop.png);
}
.w-my-button-coupon{
	background-image:url(../images/icon-coupon.png);
}
.w-my-button-setting{
	background-image:url(../images/icon-setting.png);
}

//带图标和普通文字的列表
.w-icon-list-item, .w-list-item{
	display:-webkit-box;
	background:#fff;
	padding:10px 1em;
}
.w-icon-list-item img{
	width:40px;
	height:40px;
	margin-right:1em;
}
.x-list .x-list-item.w-icon-list-item-container .x-innerhtml, .x-list .x-list-item.w-list-item-container .x-innerhtml{
	padding:0;
}
.w-icon-list-item-container .button-area, .w-list-item-container .button-area{
	position:absolute;
	right:0;
	top:0;
	z-index:-1;
	display:-webkit-box;
	height:100%;
}
.x-item-pressed .w-icon-list-item, .x-item-pressed .w-list-item{
	background:#ddd;
}
.swipe-button-delete{
	padding:0 1em;
	background:#ff3b30;
	color:white;
	display:-webkit-box;
	-webkit-box-align:center;
}
.swipe-button-default{
	padding:0 1em;
	background:#8bcf92;
	color:white;
	display:-webkit-box;
	-webkit-box-align:center;
}
.coupon-list-item img{
	width:60px;
}
.w-icon-list-item p{
	line-height:40px;
	-webkit-box-flex:1;
}
.w-list-item p{
	-webkit-box-flex:1;
}
.content, .w-icon-list-item .content, .w-list-item .content{
	line-height:1.5;
	color:$text-color;
}
.w-content{
	margin:1em;
	line-height:1.5;
	font-size:$normal-font;
}

//toggle状态的按钮
.w-toggle-field{
	min-height:0;
}

//输入框和按钮
.w-input-text{
	border:1px solid #ccc;
	border-radius:5px;
}
.w-input-text .x-input-el{
	padding:.7em;
}
.x-input-el.w-icon-user{
	background:url(../images/icon-user.png) no-repeat .7em center;
	background-size:14px 14px;
	padding-left:36px;
}
.x-input-el.w-icon-password{
	background:url(../images/icon-password.png) no-repeat .7em center;
	background-size:10px 18px;
	padding-left:36px;
}
.w-button, .w-button-small{
	border-radius:5px;
	background-color:$button-color;
	height:auto;
	border:none;
}
.w-button-small{
	border-radius:3px;
}
.w-button .x-button-label, .w-button-small .x-button-label{
	padding:.7em 1em;
	color:#fff;
	font-weight:bold;
}
.w-button-small .x-button-label{
	padding:.3em 1em;
	font-size:$small-font;
	font-weight:normal;
}
.w-logo{
	background:url(../images/logo219.png) no-repeat center center;
	background-size:110px 110px;
	margin:20px 0;
	height:110px;
}
.w-fieldset{
	margin:1em;
}
.w-fieldset .x-form-fieldset-inner{
	border-radius:5px;
}
.w-fieldset .w-disclosure-item:last-child{
	border-bottom:0;
}
.w-container, .w-margin{
	margin:1em;
}
.w-toolbar{
	padding:0 .7em;
}