
@import 'sencha-touch/cupertino';
@import 'sencha-touch/cupertino/all';
@import 'override.scss';

$color_fff:white;
$none:none;
$al_center:center;
$m_auto:auto;
$width:320px;
$w150:150px;
$zero:0px;
$border:1px solid #eee;
$font_12:12px;
$font_10:10px;
$color_e7:#e76049;


//首页吃喝玩乐按钮样式
@mixin banner_style
{
   background-repeat:no-repeat;
   background-size:contain;   
   height:38px;
   text-align:center;
   padding:$zero;
   margin-top:13px;
}
//titlebar样式
@mixin titlebar_title
{
   background-size: 100% auto !important;
   color:$color_fff;
   font-size:18px!important;
  
}
//拍品详情 card title按钮
@mixin detailcard_title
   {
    background-size:12px 12px;
    background-position:10px 10px;
   }
//拍品详情 焦点图上方按钮排列
 @mixin details_title_top
   {
      background-size:auto 8px;
      background-position:5px center;
      text-indent:18px;
   }
//拍品详情 简介上方按钮
@mixin detail_top_jiao
  {
    background-size:auto 8px;
    margin-top:-28px;
  }
 //拍品详情 商品参数页面下方按钮
  @mixin discard_date_btn
  {
    background-size:auto 12px;
    background-position:5px;
    text-indent:20px;
  } 
 //个人中心 按钮图片位置
  @mixin personal_icon
   {
     background-repeat:no-repeat;
     background-size:auto 12px!important;
     background-position:13px center !important;
     background-color:transparent;
   } 
html body
{
  background:transparent!important;
}
      .titlebar1
     {
        background-image: url(../images/top.png) !important;
        @include titlebar_title;       
     }
     .titlebar2
     {
        background-image: url(../images/detail_top1.png) !important;
        @include titlebar_title;
     }
     .titlebar3
     {
        background-image: url(../images/person_title.png) !important;
        @include titlebar_title;
     }
     .titlebar1.x-toolbar.x-docked-top,.titlebar2.x-toolbar.x-docked-top,.titlebar3.x-toolbar.x-docked-top
     {
      border-bottom:0px;
     }
     .titlebar1 .x-title .x-innerhtml,.titlebar2 .x-title .x-innerhtml,.titlebar3 .x-title .x-innerhtml
     {
        color:$color_fff;
     }
     .titlebar1 .x-button,.titlebar2 .x-button,.titlebar3 .x-button{
        color:$color_fff;
        background:transparent;
        border:0px;
     }
     .titlebar1 .x-button-icon,.x-button .x-button-icon
     { 
        color:$color_fff;
        background:none;
        border:0px;
     }
     .carsouel
     {
         background-size: 100% auto !important;
         height:132px;
     }
      .x-img.x-img-background{
        background-size: 100% auto !important;
     }
     .titlebar1 .bar_right
     {
        background-image:url(../images/icon_home.gif) !important;
        background-size: 100% auto !important;
     }
   
     .btn1
     {
       background-image:url(../images/btn1.jpg);
       @include banner_style;

     }
     .btn2
     {
       background-image:url(../images/btn2.jpg); 
       @include banner_style;
       margin-left:5px;
     }
     .btn3
     {
        background-image:url(../images/btn3.jpg);
        @include banner_style;
        margin:5px 5px 10px 0px;
     }
     .btn4
     {
       background-image:url(../images/btn4.jpg);
       @include banner_style;
       margin:5px 0px;
     }
    .x-carousel-indicator-horizontal{
       height:1em;
       margin-top:-4px;
    }

   .x-carousel-indicator span
   {
     width:6px;
     height:6px;
   }
   .btn1,.btn3
     {
        background-position:right!important;
        line-height: 2em;
    }
     .btn2,.btn4
     {
        background-position:left!important;
    }
      .special
      {
         height:108px;
         text-align: $al_center;;
         margin:$m_auto;
         font-size:13px;
         margin-top:-4px;
         background:white;
         display:-webkit-box;
         display:flex;
      }

      .list-product
      {
        border:$border;
        border-left:$none;
        text-align: center;
        flex:1;
        -moz-box-flex: 1;  
        -webkit-box-flex: 1;
      }
    
      .list-product  p
      {
        text-align: center;
        padding-top:10px;
        padding-bottom: 10px;
    }
    .todayTitle{
        border-top:$border;background:#ffffff url(../images/today_title.jpg) left no-repeat;text-indent: 20px;font-size: 13px;font-weight: bold;text-align: left;color:#000;margin-top:5px;background-position:10px 8px;background-size:auto 13px;padding:8px 0px;
    }
    .today
    {
      display: -moz-box;
      display: -webkit-box;
      display: flex;
      -moz-box-orient: horizontal;
      -webkit-box-orient: horizontal;
      box-orient: horizontal;
      background:$color_fff;
      width:100%;
      border:0px;
      padding:10px 0;
      border-bottom:1px solid #f6f6f6;
    }
    .today .left
    {
       width:115px;
    }
    .today .right .price .hallow_heart
    {
     width:20px;height:20px;background:url('../images/heart.jpg') no-repeat;
     background-size:contain;float:right;

    }
    .today .right .price .heart
    {
     width:20px;height:20px;background:url('../images/heart_active.jpg') no-repeat;
     background-size:contain;float:right;

    }
    .today .left .prod
    {
      margin-right:8px;
      text-align:center;
      margin-left:5px;
      background-size:contain;
    }
    .today .right
    {  
      margin-right:10px;
       -moz-box-flex: 2;
       -webkit-box-flex: 2;
       flex: 2;
       font-size:$font_12;
    }
    .today .right .title
    {
       width:100%;
       font-size:14px;
       color:#3a3e3f;
    }
   .today .right .price
    {
      width:100%;
      font-size:17px;
      color:$color_e7;
      margin-top:14px;
    }

    .priceNew img
    {
      margin: 0px 5px 1px 5px;
    }
    .priceImg
    {
     width:87px;
     height:18px;
     float:left;
     margin-left:8px;
    }
    .priceMap
    {
     clear:both;
     margin-top:10px;
     text-align:right;
     width:100%;
    }

    .discuss
   {
     width:100%;
     border-top:$border;
     margin-top:3px;
     padding:5px 0px;

   }
   .discuss .img
   {
     background: url('../images/icon_pinglun.jpg') no-repeat;
     background-size:contain;
     height:13px;
     width:18px;
     float:left;
   }
   .discuss .pre
   {
     color:#555;
     font-size:10px;
     font-weight: 100;
     float:left;
     width:88%;
   }
   .x-toolbar.x-docked-top
   {
     border-radius:0px!important;
   }
   .banner
   {
     width:50%;margin-left:20px;text-align:left;margin-top:10px;
   }
   .banner .title
   {
     font-size:18px;
   }
   .banner .des
   {
     font-size:8px;color:#666;margin-top:8px;
   }
   .banner .price
   {
     margin-top:8px;font-size:10px;position:absolute;top:71px;left:93px;color:$color_e7;
   }
   .banner .price span
   {
    font-size:18px;
   }
   .x-list,.x-layout-card-item
   {
     background:none;
   }
  .x-list .x-list-item.x-list-item-tpl:before{border:none;}
  .x-carousel-indicator span.x-carousel-indicator-active{
   background:#ffc600;
  }
  //商品详情
  .detail .x-carousel-indicator-horizontal
  {
    margin-bottom:180px;
  }
  .detail
  {
  background:#f6f6f6;
  }
  .detail .x-docked-bottom
  {
    min-height:0em;
    overflow:visible;
  }
  .details
  {
    width:100%;
    color:$color_fff;
    position:relative;
    height:46px;
    
  }

  .details  .top
  {
    background:url('../images/detail_t.png') repeat-x;
    height:46px;
    background-size:contain;
    width:100%;
  }
  .details .top .right
  {
   float:right;
   margin-right:8px;
   font-size:9px;
  }
  .details .top .right ul
  {
    list-style:none;
    padding:$zero;
    margin:$zero;

  }
   .details .top .right ul li
   {
     float:left;margin-top:8px;
   }
  
   .details .top .right ul li.heart
   {
      background:url('../images/icon_top1.png') no-repeat;
      @include details_title_top;
      
   }
    .details .top .right ul li.nolike
   {
      background:url('../images/icon_top2.png') no-repeat;
      @include details_title_top;
   }
    .details .top .right ul li.pre
   {
      background:url('../images/icon_top3.png') no-repeat;
      @include details_title_top;
   }
    .details  .bottom
  {
    //background:url('../images/detail_b.png') repeat-x;
    height:46px;
  //  background-size:contain;
    width:100%;
    bottom:0;
    padding:20px 0px 0px;
  }
  .details  .bottom .left
  {
    float:left;
    width:75%;
    text-algin:left;
    padding: 8px 5px 1px 10px;
    font-size: 14px;
  }
   .details  .bottom .right
  {
    float:right;
    height:30px;
    text-align:right;
    padding-bottom:10px;
    width:51px;
  }
  .detailDatabot
  {
   margin-top:10px;
  }
   .details  .bottom .right ul
  {
    list-style:none;
    padding:$zero;
    margin:$zero;
  }
   .details  .bottom .right ul li
  {
    float:left;margin-top:8px;
  }
   .details .bottom .right ul li.nolike
   {
      background:url('../images/sadheart_alt.png') no-repeat;
      height:13px;
      background-size:contain;
      width:17px;
   }
    .details .bottom .right ul li.like
   {
      background:url('../images/heart_line.png') no-repeat;
      height:13px;
      background-size:contain;
      width:17px;
      margin-left:10px;
   }
   //详情页面底部
   .x-toolbar.x-docked-bottom
   {
     border-top:$zero;
   }
  
   .bottombar .x-toolbar-inner
   {
    margin:auto;
    background: url(../images/bottomBar.png) no-repeat;
    background-size: contain;
    height:52px;
    width:206px;
    margin:auto;
    text-align:center;
    padding:$zero;
    margin-top:-52px;
   }
   .bottombar .btm1
   {
    margin-top:17px;
    width:30px;
    height:30px;
   }
    .bottombar .btm2
   {
    width:50px;
    height:50px;
   }
    .bottombar .btm3
   {
    margin-top:17px;
    width:30px;
    height:30px;
   }
//详情页面数据价格模块
   .detailData
   {
    background:white;
    width:100%;
   }
   .detailData .title_new{width:100%;padding:10px 0px 0px 10px;font-size:15px;color:#383838;}
   .detailData .title_new .content_new{width:100%;}
   .detailData .left
   {
     float:left;
     width:50%;
     padding:7px 4px 7px 10px;
   }
   @mixin pricex
   {
    background-position:0px 0px;
    background-size: auto 17px;
    color: #e76049;
    font-size: 23px;
    text-indent: 22px;
    width: 100%;
    float: none;
    background-position: 0px 5px;
   }
   .detailData .left .priceNew
   {
    background:url('../images/detail_money.jpg') left no-repeat;
    @include pricex;
   }
    .detailData .left .priceXiang
   {
    background:url('../images/icon_xiang.png') left no-repeat;
    @include pricex;
   }
   .detailData .left .price
   {
     color:#cbcbcb;
     padding-top:5px;
     width:100%;
     font-size:15px!important;
   }
   .detailData .left .price span
   {
     text-decoration:line-through;
     font-size:15px;
   }
   .detail_map
   {
     background:url('../images/map.jpg') right no-repeat;
     height:29px;
     text-align:right;
     background-size:contain;
     margin-top:5px;
     float:left;
     width:50%;
     padding: 7px 20px;
     color: white;
   }
   .detail_pai
   {  
     flex:1;
     -moz-box-flex: 1;  
     -webkit-box-flex: 1;
   }
   .detail_pai .detail_img
   {
     background:url('../images/icon_detail_pai.png') no-repeat;
     background-size: 13px auto;
     margin-top: 15px;
     color: #e76049;
     font-size: 16px;
     text-indent: 50px;
     float: left;
     background-position: 30px center;
   }
   @mixin detailicon
   {
    background-size:auto 7px;
    width:12px;
    float:right;
    margin-top:21px;
    height:20px;
    margin-right:10px;
   }
   .detail_right
   {
    background:url('../images/icon_detail_right.png') no-repeat;
    @include detailicon;
   }
   .detail_down
   {
    background:url('../images/icon_detail_down.png') no-repeat;
    @include detailicon;
   }
   //商品详细信息页面下方简介
   .log_btn .x-button
   {
    border:0px;
    border-radius:0px;
    border-top:1px solid #efefef;
    border-bottom:1px solid #efefef;
    border-right:1px solid #efefef;   
   }
   .log_btn .x-button-normal .x-button-label{
   color:#2eb398;
   font-size:14px;
   padding-left:10px;
   }
   .my_btn .x-button-normal .x-button-label{
   color:$color_e7;
   font-size:13px;
   }
   .detailcard
   {
     font-size:16px;
   }
   .detailcard .x-tabbar.x-docked-top
   {
    padding:0px; 
   }
   .detailcard .x-tabbar.x-docked-top
   {
    border:$zero;
    border-top:1px solid #efefef;
    border-bottom:1px solid #efefef;
   }
   .detailcard .x-tabbar
   {
    min-height:0;
   }

   .detailcard .x-tabbar.x-docked-top .x-tab:first-child
   {
     border-radius:0px 0px 0px 0px;
   }
   .detailcard .x-tabbar.x-docked-top .x-tab:nth-child(1),.detailcard .x-tabbar.x-docked-top .x-tab:nth-child(2){
    border:0px;
    border-right:1px solid #efefef;
   }
   .detailcard .x-tabbar.x-docked-top .x-tab:nth-child(3)
   {
     border:0px;
   }
   .detailcard .title
   {
     border:0px;
     border-radius:0px 0px 0px 0px;
   }
   .detailcard .x-tabbar.x-docked-top .x-tab .x-button-label
   {
     color:#2eb398;
   }

   .detailcard .x-tab.x-tab-active .x-button-label
   {
     color:white!important;
   }
   .x-button-active .x-button-label{
    color:$color_fff!important;
   }
  .detailcard .x-tab:nth-child(1),.log_btn .x-button:nth-child(1),.log_btn1
  {
   background:#fff url('../images/detail_list1.png') no-repeat;
   @include detailcard_title;
  }
  .detailcard .x-tab:nth-child(1).x-tab-active,.log_btn .x-button:nth-child(1).x-button-active,
  {
   background:#2eb398 url('../images/detail_list1_ac.png') no-repeat;
   @include detailcard_title;
  }
  .detailcard .x-tab:nth-child(2),.log_btn .x-button:nth-child(2),.log_btn2
  {
   background:#fff url('../images/detail_list2.png') no-repeat;
   @include detailcard_title;
  }
  .detailcard .x-tab:nth-child(2).x-tab-active,.log_btn .x-button:nth-child(2).x-button-active,
  {
   background:#2eb398 url('../images/detail_list2_ac.png') no-repeat;
   @include detailcard_title;
  }
  .detailcard .x-tab:nth-child(3),.log_btn .x-button:nth-child(3),.log_btn3
  {
   background:#fff url('../images/detail_list3.png') no-repeat;
   @include detailcard_title;
  }
  .detailcard .x-tab:nth-child(3).x-tab-active,.log_btn .x-button:nth-child(3).x-button-active,
  {
   background:#2eb398 url('../images/detail_list3_ac.png') no-repeat;
   @include detailcard_title;
  }
   .discard
  {

    margin:10px 8px 60px 8px;
    border-radius:6px;
    background:white;
    border:1px solid #efefef;
    padding-top:10px;
  }
  .detail_listOne
  {
    background:url('../images/detail_top.png') no-repeat center center;
    @include detail_top_jiao;
  }
   .detail_listTwo
  {
    background:url('../images/detail_top.png') no-repeat center center;
    @include detail_top_jiao;
  }
   .detail_listThree
  {
    background:url('../images/detail_top.png') no-repeat center center;
    @include detail_top_jiao;

  }
  //回复消息，评论展开部分
  .re_message
  {
    width:100%;
    margin:-1px auto 0px; 
    background:#f6f6f6;
    border:1px solid #f6f6f6;
    border-radius:6px;
    pading:5px;
  }
  .retop
  {
    width:98%;
    margin:auto;
  }
  .retop .topleft
  {
   width:75%;
   float:left;
   border:1px solid white;
  }
  .retop .topright
  {
   background:url('../images/message_top.png') left no-repeat;
   background-size:auto 7px;
   height: 7px;
    width: 15px;
    margin-right: 5px;
    float: right;
  }
  .re_message .dis
  {
   width:100%;
  }
  .re_message .dis .img
  {
   width:40px;
   float:left;
  } 
  .re_message .dis .img img
  {
   border-radius:15px;
  }
   .re_message .dis .name
  {
   width:80%;
   float:left;
   word-break: break-all;
  } 
  .re_message .date
  {
   width:98%;
   margin:15px auto 15px;
   text-align:left;
  }
  //商品详情评论和个人消息共用部分，
  .discard .list
  {
    width:95%;
    margin:auto;
    padding:10px 0px;
    border-bottom:1px solid #efefef;
  }
  .discard .list:nth-last-child(1){
   border-bottom:0px;
   }
   .message .list
  {
    width:100%;
    margin:10px auto 5px;
    padding:10px 0px;
    border-bottom:1px solid #efefef;
    background:white;
  }
  .discard .list .one,.message .list .one
  {
    display:flex;
    display:-webkit-flex;

  }
  .discard .list .one .img{
   flex:1;
   padding:5px;
  }
  .message .list .one .img
  {
   width:40px;
   padding:5px;
   float:left;
  }
  .discard .list .one  .img img,,.message .list .one .img img
  
  {
     border-radius: 20px;   
     -moz-border-radius: 20px; 
     -webkit-border-radius: 20px; 
  }
    .discard .list .one .name
  {
   flex:9;
   padding:15px 15px;
   font-size:14px;
   float:left;
  }
  .remess
  {
  border:0px;margin:0px;padding:0px;border-radius:0px;
  }
  .remess .list
  {
   border:0px;
  }
  .remess .list .date
  {
     margin:8px auto;
  }
  .remess .confirm_w
  {
   width:95%;
  }
  .remess .list .one .name{
    flex: 9;
    padding: 13px 1px 1px 15px;
    font-size: 14px;
    float: left;
    word-break: break-all;
    color:#383838;
  }
  .message .list .one .name
  {
   -webkit-box-flex: 9;
  float: left;
  padding: 10px 0px 10px 20px;
  font-size: 13px;
  word-break: break-all;
  color:#383838;
  }
  .discard .list .dis
  {
   padding:5px;
   font-size:14px;
   color:#383838;
   word-break: break-all;
  } 
  .discard .list .date
  {
    display:flex;
    display:-webkit-flex;
    font-size:10px;
    color:#858585;
    width:98%;
    margin:auto;
  } 
  .discard .list .date .left
  {
   flex:1;
   text-align:left;
   padding:5px;
   -webkit-box-flex:1;
   width:50%;
  }
  .discard .list .date .right
  {
   flex:1;
   padding:5px;
  -webkit-box-flex:1;
  width:50%;
  // text-align:right;
  }
 .pinglun
 {
  margin-top:25px;color: #858585;
 }
  .discard .list .date .right .like,.product_like,
  {
   background:url('../images/two_icon1.jpg') no-repeat;
   @include discard_date_btn;
   float:right;
  }
   .discard .list .date .right .comment,.product_comment,
  {
   background:url('../images/two_icon.jpg') no-repeat;
   @include discard_date_btn;
    float:right;
  }
  //个人中心首页
  .personal
  {
    background:#b6d557;
    height:100%;
  }
  .personal .title
  {
   font-size:18px;
   color:white;
   vertical-align:middle;
   margin-top:10px;

  }
   .personal .title img
   {
    border-radius:25px;
    margin:5px 10px;
    width:50px;
    height:50px;
    float:left;
   }
    .personal .title span
   {
      margin-top:20px;
      float:left;
      width: 7.8em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
   }
   .personal .return{
      float: right;
      margin-right:10px;
      margin-top:20px;
   }
    .personal .return:after
   {
      content: '!';
      font-family: 'iOS7';
      font-size:14px;
   }

   .personal .x-button
   {
     border:0px;
     font-weight:100;
     text-indent:35px;
     height:44px;
     line-height:40px;
     margin:0px;
     padding:0px;
   }
   .personal .x-button-normal .x-button-label
   {
    color:$color_fff;
    text-align:left;
   }
   .personal .x-button:nth-child(1)
   {
    border:0px;
   }
   .personal .x-button:nth-child(3)
   {
     background-image:url('../images/icon_person_btn1.png');
     @include personal_icon;
   }
    .personal .x-button:nth-child(4)
   {
     background-image:url('../images/icon-person_btn2.png');
     @include personal_icon;
   }
   .personal .x-button:nth-child(5)
   {
     background-image:url('../images/icon_person_btn4.png');
     @include personal_icon;
   }
    .personal .x-button:nth-child(6)
   {
     background-image:url('../images/icon_person_btn3.png');
     @include personal_icon;
   }
    .personal .x-button:nth-child(7)
   {
     background-image:url('../images/icon_person_btn5.png');
     @include personal_icon;
   }
   .personal .x-button:nth-child(8)
   {
     background-image:url('../images/icon_person_btn6.png');
     @include personal_icon;
   }
    .personal .x-button:nth-child(9)
   {
     background-image:url('../images/daoju.png');
     @include personal_icon;
   }
     .personal .x-button:nth-child(10)
   {
     background-image:url('../images/icon_person_btn7.png');
     @include personal_icon;
   }
      .personal .x-button:nth-child(11)
   {
     background-image:url('../images/icon_person_btn8.png');
     @include personal_icon;
   }
      .personal .x-button:nth-child(12)
   {
     background-image:url('../images/icon_person_btn8.png');
     @include personal_icon;
   }
    .personal .x-button:nth-child(2)
   {
     background-image:url('../images/home.png');
     @include personal_icon;
   }
   .button_active
   {
      background-color:#adca53!important;
      border:0px;
      border-radius:0px;
   }
   .button_active_sell
   {  
     background-image:url('../images/icon_person_btn1_active.png')!important;
     background-repeat:no-repeat;
     @extend .button_active;
   }
   .button_active_message
   {  
     background-image:url('../images/icon_person_btn2_active.png')!important;
     background-repeat:no-repeat;
     @extend .button_active;
   }
   .button_active_order
   {  
     background-image:url('../images/icon_person_btn4_active.png')!important;
     background-repeat:no-repeat;
     @extend .button_active;
   }
   .button_active_sellRing
   {  
     background-image:url('../images/icon_person_btn3_active.png')!important;
     background-repeat:no-repeat;
     @extend .button_active;
   }
   .button_active_discount
   {  
     background-image:url('../images/icon_person_btn5_active.png')!important;
     background-repeat:no-repeat;
     @extend .button_active;
   }
   .button_active_box
   {  
     background-image:url('../images/icon_person_btn6_active.png')!important;
     background-repeat:no-repeat;
     @extend .button_active;
   }
   .button_active_datum
   {  
     background-image:url('../images/icon_person_btn7_active.png')!important;
     background-repeat:no-repeat;
     @extend .button_active;
   }
    .button_active_system
   {  
     background-image:url('../images/icon_person_btn8_active.png')!important;
     background-repeat:no-repeat;
     @extend .button_active;
   }
   //个人主页
   //个人主页-背景颜色
   .person_model
   {
     //background:url('../images/person_bg.jpg') no-repeat;
     background-size:100% auto;
     height:155px;
     display:flex;
     color:$color_fff;
   }
   .person_zhezhao{
     background:url('../images/person_zhezhao.png') repeat-x;
     width:100%;
     background-size:auto 155px;
     position:absolute;
     top:0px;
     left:0px;
     height:155px;
     color:$color_fff;
   }
   .person_zhezhao .one .head
   {
     width:33%;
     padding:20px 15px;
     text-align:center;
     float:left;
   }
  .person_zhezhao .one .head img
   {
     border-radius:35px;
   }
   .person_zhezhao .one .head p
   {
     margin-top:5px;
   }
   .person_zhezhao .one .right
   {
    flex:1;
    text-align:left;
   }
   @mixin person_model_word
   {
     padding-top:38px;
     float:left;
   }
   @mixin person_model_img{
     background-repeat:no-repeat;
     background-size:auto 10px;
     background-position:5px 40px;
     text-indent:16px;
   }
   .person_zhezhao .one .right .name
   {
     @include person_model_word;
     font-size:18px;
   }
    .person_zhezhao .one .right .dis
   {
     @include person_model_word;
     background-image:url('../images/icon_person_base.png');
     @include person_model_img;
     background-size: auto 13px;
     background-position: 5px 40px;
     text-indent: 20px;
     margin-left: 10px;
     font-size: 15px;
   }
   .person_zhezhao .two{
    position:absolute;
    bottom:10px;
   }
    .person_zhezhao .two .email
   {
     @include person_model_word;
     background-image:url('../images/icon_person_letter.png');
     @include person_model_img;    
     padding-top:0px;
     background-position: 0px 3px;
     width:23%;
     float:right;
   }
   .person_zhezhao .two span
   {
     flex:1;text-align:right;margin-right:10px; width:40%;float:right
   }
   .person_zhezhao .two .title{
    flex:1;
    text-align:center; float:left;width:33%;
   }
   .person_zhezhao .one .right .des
   {
    margin-top:45px;
   }
   .person_zhezhao .two{
     width:100%; 
   }

   .per_model
   {
     margin-top:-5px;
   }
    .per_model .x-tabbar.x-docked-top .x-tab .x-button-label
   {
     color:#e76049;
   }

   .per_model .x-tab.x-tab-active .x-button-label
   {
     color:white!important;
   }
   .per_model .x-tabbar
   {
    min-height:0;
   }
   .per_model .x-tabbar.x-docked-top .x-tab.x-tab-active
   {
    background:#e76049;
   }
    .per_model .x-tabbar.x-docked-top
   {
    border:$zero;
    padding:$zero;
    border-radius:$zero;
    border-top:1px solid #e76049;
    border-bottom:1px solid #e76049;
   }
   .per_model .x-tabbar.x-docked-top .x-tab
   {
     border:$zero;
     border-right:1px solid #e76049;
     border-radius:0px 0px 0px 0px;
     background:$color_fff;
   }
    .per_model .x-tabbar.x-docked-top .x-tab:nth-child(3)
   {
     border-right:0px;
   }
   .my
   {
     background:#efefef;
   }
   .mylike
   { 
      background:#ffffff!important;
      //padding-top:9px;
   }
   .mylike .myProduct
   {
    width:30%; 
    margin:5px;
    float:left;
    text-align:center;
   }
   .mylike .myProduct .img
   {
      
   }
   .mylike .myProduct .img img
   {
      text-align:center;
   }
   .mylike .myProduct .title
   {
      font-size:14px;
      margin-top:5px;
   }
   //个人主页 评论
   .mydis
   {
    width:100%;
    background:white;
    padding:10px;
    margin-top:1px;
   }
   .mydis .dis
   {
    width:100%;
    font-size:14px;
   }
    .mydis .img
   {
    width:100%;
    font-size:14px;
    margin-top:10px;
   }
    .mydis .img img
    {
      margin:5px;
      float:left;
    }
    .my_btn .x-button
    {
      border:0px;
      border-radius:0px;
      border-top:1px solid $color_e7;
      border-bottom:1px solid $color_e7;
      border-right:1px solid $color_e7;
      height:30px; 
    }
    .my_btn .x-button:nth-child(3){
      border-right:0px;
    }
    .my_btn .x-button-active
    {
     background:$color_e7;
     color:$color_fff;
     padding-top: 1px;
    }
   //此部分与个人消息共用

    .content
   {
    width:100%;
    background:#fefefe;
    padding:10px;
    margin-top:10px;
    border:1px solid #f0f0f0;
   }
   .message .content
   {
    width:95%;
    margin:auto;
   }
    .content .left
   {
    width:40px;
    float:left;
   }
   .content .right
   {
    float:left;
    width:70%;
    font-size:13px;
   }
   .message .content .right
   {
   width:80%;
   }
   .mydis .time,.message .time
   {
    width:100%;
    margin:10px 0px 0px;
    color:#666;
   }
   .message .time
   {
    width:95%;
    margin:6px auto 3px; 
   }
   .mydis .time .left,.message .time .left
   {
    width:50%;
    float:left;
    text-align:left;    
    font-size:12px;
   }
   .mydis .time .right
   {
    width:50%;
    float:left;
    font-size:12px;
   }
   .message .time .right
   {
    width:50%;
    background:url('../images/talk.png') right no-repeat;
    background-size:auto 12px;
    width:12px;
    height:12px;
    float:right;
   }
   @mixin mydis_img
   {
    background-size:auto 12px;
    text-indent:16px;
    float:right;
   }
   .mydis .time .right .zan
   {
    background:url('../images/two_icon.jpg') left no-repeat;
    @include mydis_img;
   }
   .mydis .time .right .bubble
   {
    background:url('../images/two_icon1.jpg') left no-repeat;
    @include mydis_img;
    margin-right:5px;
   }
   //拍卖详情展开图
   .bangbai
   {
    background:transparent;
    border:#f6f6f6;
    height:40px;
    margin-top:1px;
    padding:5px;
   }
   .bangbai img
   {
     border-radius:13px;
     margin-left:5px;
     width:26px;
   }
  .bangpai-button
   {
    border:0px;
    background:transparent;
    font-size:12px;
    color:#e76049;
    padding-top:13px;
   }  
   .daoju
   {
    background:#e76049;
    height:43px;
    text-align:center;
    margin-top:1px;
   }
   .star
   {
    background-image:url('../images/icon_detail_star.png')!important;
    background-size:12px 12px;
    background-repeat:no-repeat;
    background-position:90px;
    padding-top:13px;
    color:$color_fff;
    height:43px;
    text-align:center;
   }
    .daoju_card
   {
    background-image:url('../images/pai_btn.png')!important;
    background-size:auto 28px;
    background-repeat:no-repeat;
    background-position: center 5px;
    padding-top: 35px;
    color:$color_fff;
    height:60px;
    text-align:center;
   }
   .detail_right_btn
   {
    background:url('../images/icon_detail_right.png') right no-repeat;
    background-size:auto 12px; 
    margin-right: 4px;
   }
   .mybpai img
   {
   float:left;
   }
   .mybpai span
   {
    margin-left:5px;
    float: left;
    margin-top: 5px;
   }
   .mypai_time
   {
    width:80px;
    height:30px;
    background:#e76049;
    color:$color_fff;
    position:absolute;
    top:30px;
    right:0px;
    padding:5px 10px;
   }
 //一拍到底展开页，商品大图页面
  .yipai
  {
   width:90%;
   margin:14px auto 0px;
   height:40px;
  }
  @mixin yipai_step
  {
   background-size:contain;
   height:31px;
   width:31px;
   margin-left:5px;
  }
  .yipai .step1
  {
   background:url('../images/yi_icon1.png') no-repeat;
   @include yipai_step;
  }
   .yipai .step2
  {
   background:url('../images/yi_icon2.png') no-repeat;
   @include yipai_step;
  }
   .yipai .step3
  {
   background:url('../images/yi_icon3.png') no-repeat;
   @include yipai_step; 
  }
   .yipai .step4
  {
   background:url('../images/yi_icon4.png') no-repeat;
   @include yipai_step;
  }
    .yipai .step5
  {
   background:url('../images/yi_icon5.png') no-repeat;
   @include yipai_step;
  }
  .yipai .link
   {
     background:url('../images/yi_link.png') center 14px no-repeat;
     background-size:auto 5px;
   }
   .yipai .success
   {
     background:url('../images/yi_success.png') center 12px no-repeat;
     background-size:auto 10px;
   }
   .yi_product
   {
    width:97%;
    margin:auto;
   }
   .yi_product .list
   {
     width:46%;
     padding:5px;
     background:$color_fff;
     color:$color_fff;
     font-size:12px;
     float:left;
     margin:5px;
   }
   .yi_product .list .img
   {
     width:100%;
     margin:0px auto 5px;
     border:1px solid #efefef;
     text-align:center;
   }
  
    .yi_product .list .img img
    {
      margin:auto;
    }
    .yi_product .list  .price
    {
     position: relative;
     top: -139px;
     background:#e76049;
     width:80px;
     height:20px;
     padding-top:3px;
     text-align:center;
     float:right;
    }
    .yi_product .list  .zhezhao
    {
     background:url('../images/yi_zhezhao.png') repeat-x;
     width:98.1%;
     position:relative;
     height:20px;
     bottom:46px;
     text-align:center;
     padding-top:5px;
     background-size:container;
     margin:auto;
    }
    .yi_product .list .dis
    {
     background:url('../images/yipai_human.png') left no-repeat;
     background-size:auto 7px;
     text-indent:12px;
     color:#666;
     font-size:10px;
     line-height:25px;
    }
    //私信页
    .letter_btn
    {
     background:#4daf7c;
     border-radius:3px;
     color:$color_fff;
     padding-top:8px;
    }
    .letter_btn_me
    {
     background:$color_e7;
     border-radius:3px;
     color:$color_fff;
     padding-top:8px;
     width:80px;
    }
    .letterMy
    {
     width:100%;
     margin-top:5px;
     font-size:13px;
    }
    .letterMy .img
    {
     float:left;
     margin:0 5px;
    }
    .letterMy .letterleft
    {
     background:url('../images/letter-left.png') no-repeat;
     float:left;
     margin-top:8px;
     background-size:6px 12px;
     width:6px;
     height:12px;
    }
    .letterMy .letter
    {
     background:$color_fff;
     padding:5px;
     width:60%;
     border-radius:7px;
     float:left;
     margin-left:-1px;

    }
     .letterYou
    {
     width:100%;
     margin:10px auto;
     font-size:13px;
    }
    .letterYou .img
    {
     float:right;
     margin-right:5px;
    }
     .letterYou .letterright
    {
     background:url('../images/letter-right.png') no-repeat;
     float:left;
     margin-top:8px;
     background-size:6px 12px;
     width:6px;
     height:12px;
     float:right;
     margin-right:5px;
    }
    .letterYou .letter
    {
     background:#4daf7c;
     color:$color_fff;
     padding:5px;
     width:60%;
     border-radius:7px;
     float:right;
     margin-right:-1px;
    }
    .letterMy .img img,.letterYou .img img
    {
      border-radius:15px;
    }

    //我的订单
    .myorder
    {
      width:100%;
      border:1px solid #efefef;
      background:$color_fff;
    }
    .myorder_new
    {
      width:100%;
      border:1px solid #efefef;
      background:$color_fff;
    }
    .orderlist
    {
      margin:10px;
    }
    .orderlist .left
    {
      width:65%;
      text-align:left;
      float:left;
    }
    .orderlist .left ul
    {
     list-style:none;
     padding:0px;
     margin:0px;

    }
    .orderlist .left ul li
    {
      margin-top:5px;
    }
    .orderlist .right
    {
      width:35%;
      text-align:right;
      float:left;
    }
    .orderlist .right ul
    {
     list-style:none;
     padding:0px;
     margin:0px;

    }
    .orderlist .right ul li
    {
      margin-top:10px;
    }
    .order_dis
    {
     margin:10px;
     border:1px solid #efefef;
     background:#fefefe;
    }
    .order_dis .left
    {
     width:50px;
     height:50px;
     float:left;
     margin:5px;
    }
    .order_dis .right
    {
     width:65%;
     float:left;
     margin:5px;
     word-break: break-all;
    }
    //订单详情页面
    .orderdetail ul{
      margin-top:10px;
      background:#fff;
    }
    .orderdetail .value{
      float:right;
      width:70%;
      text-align:right;
    }
    .orderdetail li{
        padding:8px 10px;
        border-bottom:1px solid #f6f6f6;
    }
    .orderdetail li:after{
      content: "020";
      display: block;
      height: 0;
      clear: both;
      visibility:hidden;
    }
    orderdetail ul li:last-child{
        border-bottom:0;
    }
    .shai
    {
     background:$color_fff;
    }
    .orderdetail_btn
    {
     border:0px;
     border-radius:0px;
     background:$color_fff;
     color:$color_e7;
     margin-top:10px;
     height:35px;
     padding-top:10px;

    }
    .orderdetail_btn .left
    {
     margin-left:10px;
    }
    .orderdetail_btn .right
    {
     margin-right:10px;
     text-align:right;
    }
    .orderdetail_btn_e7, .w-button
    {
     border:0px;
     border-radius:0px;
     background:$color_e7;
     color:$color_fff;
     margin-top:10px;
     height:35px;
     line-height:35px;
    }
    @mixin orderBtnH
    {
     background-repeat:no-repeat;
     background-size:auto 12px;
     background-position:115px center;
     margin-top:10px;
     padding-top:10px;
     height:35px;
     border:0px;
     border-radius:0px;
   
     color:$color_fff;
    }
    .orderdetail_btn1
    {  
     background:$color_e7 url('../images/btn_camera.png');
     @include orderBtnH;
    }
    .orderdetail_btn2
    {  
     background:$color_e7 url('../images/star.png');
     @include orderBtnH;
    }
    .orderdetail_btn3
    {  
     background:$color_e7 url('../images/cloud.png');
     @include orderBtnH;
     background-position:100px center;
    }
     .orderdetail_btn4
    {  
     background: #fff url("../images/yinlian.jpg");
     background-repeat: no-repeat;
     background-size: auto 18px;
     border: 0px;
     border-radius: 0px;
     background-position: 80px center;
     width:100%;
    }
      .orderdetail_btn5
    {  
     background:$color_fff url('../images/zhifubao.jpg');
     background-repeat: no-repeat;
     background-size: auto 18px;
     border: 0px;
     border-radius: 0px;
     background-position: 80px center;
     width:100%;
    }
    .orderdetail_btn6
    {  
     background:$color_fff url('../images/score.png');
     @include orderBtnH;
     background-position:125px center;
     color:$color_e7;
     margin-top:0px;
    }
    .orderdetail_btn7
    {  
     background:$color_fff url('../images/myjuan.png');
     @include orderBtnH;
     color:$color_e7;
    }
    .orderdetail_btn8
    {  
     background:$color_fff url('../images/mydaoju.png');
     @include orderBtnH;
     color:$color_e7;
    }
    .orderdetail_btn9
    {  
     background:$color_fff url('../images/myscore.png');
     @include orderBtnH;
     color:$color_e7;
    }
    .orderdetail_title
    {
     background:$color_fff;
     width:100%;
    }
    .orderdetail_title .left
    {
     float:left;
     width:50px;
     margin:10px 0px 5px;
    }
     .orderdetail_title .right
    {
     float:left;
     width:70%;
     margin:10px 0px 5px;
    }
    .order_title_btn
    {
     border:0px;
     border-radius:0px;
     color:#000;
     text-align:right;
     padding:15px 0px;
     width:20px;
    }
    .shai_title
    {
     color:#000;
     border-top:1px solid #f6f6f6;
     margin-top:0px;
     padding:10px 0px;
    }
    .shai_title .title
    {
     padding:9px 0px;
    }
    .shai_title .x-field .x-input-el
    {
     padding: 1px 10px 5px;
    }
    .shai_title .x-field-input
    {
     height:30px;
     border:1px solid #d4d4d4;
     background:#fefefe;
     border-radius:3px;
     width:94%;
     margin:auto;
    }
    #ext-textareainput-1
    {
     background:#fefefe;
     border-radius:3px;
    }
    .shai_width
    {
     width:94%;
     margin:10px auto;
    }
    .shai_btn
    {
     background:$color_e7;
     color:$color_fff;
     padding:5px;
     border-radius:5px;
    }
    @mixin camera_img
    {
      border:1px solid #f6f6f6;
      height:50px;
      border-radius:5px;
      background-repeat:no-repeat;
      background-position:center center;
      background-size:auto 18px;
      margin:5px;
    }
    .camera
    {    
      background:#efefef url('../images/ordershaic.png');
      @include camera_img;
    }
     .camera_add
    {    
      background:#efefef url('../images/ordershai+.png');
      @include camera_img;
    }

    //订单确认
    .confirm
    {
     width:100%;
     background:$color_fff;
    
    }
    .confirm_w{
     width:96%;
     margin:auto;
     padding:5px 0px;
    }
    .confirm_title
    {
     width:100%;
     background:#f6f6f6;
     margin:5px 0px;
    }
    .confirm_title .img
    {
     float:left;
     width:50px;
     padding:5px;
    }
     .confirm_title .title
    {
     float:left;
     width:70%;
     padding:5px;
     margin-left:5px;
     word-break: break-all;
    }
    .confirm_bottom
    {
     margin-top:5px;
     width:100%;
     text-align:right;
    }
     .confirm_bottom span
     {
       color:$color_e7;
     }
     .font_weight
     {
       font-weight:bold;
       padding:5px;
       margin:5px;
     }
     .font_size{
      font-size:12px;
      padding:5px;
      margin:5px;
     }
     .comfirm_btn
     {
      border:0px;
      border-radius:0px;
      color:$color_e7;
      text-align:right;
      padding:5px;
      margin:5px;
     }
     @mixin paisubtn
     {
      border:0px;
      border-radius:0px;
      background-size:18px 18px;
      width:18px;
      height:18px;
      margin-top:10px;
      margin-right:10px;
     }
     .comfirm_btn1
     {
      background:url('../images/radio.png') no-repeat;
      @include paisubtn;
     }
     .comfirm_btn2
     {
      background:url('../images/radio_check.png') no-repeat;
      @include paisubtn;
     }
    //抢拍成功页面
    .pai_success
    {
     padding-top:6px;
     margin:1px auto 6px;
     background:url('../images/pai_success.png') no-repeat;
     background-size:auto 32px;
     width:32px;
     height:32px;
    }
    .pai_success_zi
    {
     color:$color_e7;
     margin:5px auto 10px;
     text-align:center;
    }
    //我的粉丝 我的关注
    .myfen
    {
   
    }
    .myfen .myfollow
    {
     width:100%;
     text-align:center;
     padding:5px 0px 10px;
     display: -webkit-box;
    }
    .myfen .myfollow .img
    {
     width:60px;
    }
    .myfen .myfollow .name
    {
      font-size:13px;
      -webkit-box-flex:1;
      margin-top:11px;
      text-align:left;
    }
    //我的拍券
    .plist
    {
    
     //background:$color_fff;
     margin-top:8px;
     width:100%;
     height:40px;
     font-size:13px;
    }
    @mixin plistImg
    {
     background-size:auto 25px;
     background-position:5px 8px;
     color:$color_e7;
     box-flex:1;
     text-indent: 60px;
     padding-top: 15px;
     height: 40px;
     width:50%;float:left;
    }
    .plist .m5
    {
     background:url('../images/m5.png') no-repeat;
     @include plistImg;
    }
    .plist .m10
    {
     background:url('../images/m10.png') no-repeat;
     @include plistImg;
    }
    .plist .m20{
      background:url('../images/m20.png') no-repeat;
      @include plistImg;
    }
    .plist .m50{
      background:url('../images/m50.png') no-repeat;
      @include plistImg;
    }
    .plist .right
    {
     box-flex:1;
     padding:14px;
    width:50%;float:left;text-align:right;padding: 15px 5px;
    }
    .plist_shuo
    {
     background:$color_fff;
     margin:10px auto;
     font-size:12px;
     padding:10px 30px;
     color:#555;
    }
    .plist_shuo ul
    {
     padding:0px;
     margin:0px;
     list-style-type:disc;
    }
    .plist_shuo ul li
    {
     height:20px;
    }
    .prop-list{
      margin-top:8px;
      background:#fff;
      padding:10px;
    }
    .prop-list:after{
      content: "020";
      display: block;
      height: 0;
      clear: both;
      visibility:hidden;  
    }
    .prop-list .left{
      float:left;
    }
    .prop-list .prop-desc{
      margin-left: 45px;
    }
    .prop-list .score{
      margin-top:6px;
      background:url(../images/score.png) no-repeat left center;
      background-size:12px 12px;
      padding-left: 16px;
      font-size:12px;
    }
    .prop-list .exchange_btn{
      float:right;
      padding:10px 0 0  10px;
    }
    .doubleDiscount{
      width:39px;
      height:25px;
      background:url(../images/doubleDiscount.png) no-repeat;
      background-size:contain;
    }
    .extendDuration{
      width:39px;
      height:25px;
      background:url(../images/extendDuration.png) no-repeat;
      background-size:contain;
    }
    .prop-list .name{
      margin-bottom:4px;
    }
    .prop-list .desc{
      color:#555;
      line-height:1.2;
      font-size:12px;
    }
    //红色按钮
    .btn_e7
    {
     border:0px;
     border-radius:4px;
     background:$color_e7;
     padding:5px;
     font-size:13px;
     color:$color_fff;
    }
    //背景颜色
    .bg_ef{
    background:#f6f6f6;
    font-size:14px;
    }
    .public_14
    {
     font-size:14px;
    }
    .icon_button
    {
     background:url('../images/icon_button.png') right no-repeat;
     background-size:auto 10px;
     height:10px;
    }
    .arrow_left
    {
     background-image:url('../images/return_.png');
     background-repeat: no-repeat;
      background-size: 11px 18px;
      background-position: left center;
      height: 2em;
      padding: 12px;
      margin-left: 10px;
    }
    .refresh
    {
     background:url('../images/reflash.png') no-repeat;     
     background-size:auto 18px;
     height:18px;
     width:38px;
     background-position:10px center;
    }
    .color_e7
    {
     color:$color_e7;
    }
    //图文详情
    .tuwen
    {
      padding: 10px;
      font-size: 14px;
      word-wrap: break-word;
      word-break: break-word;
      line-height: 2;
      color: #383838;
    }
    .input_text
    {
     background:$color_fff;
     border:1px solid #ccc;
     border-radius:3px;
     margin:5px 10px;
    }
    .input_text .x-input-el{
      height:30px;
      min-height:1em;
      width:100%;
    }
    .send_btn{
      padding:8px 12px;
      height:30px;
    }
    .x-field-input
    {
     border:0px;
    }
    //分享按钮
    @mixin share_btn
    {
      background-size: 45px 45px;
      padding-top: 55px;
      background-position: center 0;
      height: 80px;
      font-size:14px;
      border:0px;
      color:#383838;
    }
    .xl-share-button
    {
     background:url('../images/wb.png') no-repeat;
     @include share_btn;
    }
     .pyq-share-button
    {
      background:url('../images/pyq.png') no-repeat;
      @include share_btn;
    }
     .wx-share-button
    {
      background:url('../images/wx.png') no-repeat;
      @include share_btn;
    }

    .share-title
    {
     background:#fff;
     height:35px;
     line-height:35px;
     text-align:center;
     font-size:18px;
     color:#383838;
    }
    .share-icon{
      background:#fff;
      border-bottom:1px solid #d5d5d5;
      margin-bottom:4px;
    }
    .x-innerhtml-new
    {
     padding:0px;
    }
     .today .left .zhuan
    {
      background:url('../images/zhuan.png') no-repeat;
      background-size:auto 29px;
      position:absolute;
      top: 10px;
      left: 8px;
      height: 29px;
      width: 32px
    }
    //精彩预告新增样式
    .mylike .yugao
    {
      width:100%;
      background:$color_fff;
      text-align:center;
      
    }

    .mylike .yugao .title
    {
      background-image:url('../images/share.png');
      background-repeat:no-repeat;
      background-size:auto 16px;
      background-position:left center;
      color:$color_e7;
      width: 80px;
       margin: auto;
    }
    .clear{
    clear:both;
    }
 .per_model .x-tabbar.x-docked-top .x-tab
   {
     border:$zero;
     border-right:1px solid #e76049;
     border-radius:0px 0px 0px 0px;
     background:$color_fff;
     padding:10px;
   }
   //首页按钮
   @mixin user_btn
   {
     height:19px;
     background-size:auto 19px;
     width:20px;
     margin-left:10px;
     padding:10px;
   }
    .user
    {
     background:url('../images/peple.png') no-repeat;
     @include user_btn;
    }
    .list_btn
    {
     background:url('../images/list.png') no-repeat;
     @include user_btn;
     margin-left:0px;
     margin-right: 10px;
    }
  //我的优惠
   @mixin discount_wenzi
   {
     text-overflow: ellipsis;
      word-break: break-all;
      white-space: nowrap;
      overflow: hidden;
   }
   .discount
   {
    background:$color_fff;
    padding:10px;
    display:box;
    display:-weibkit-box;
    margin-top:10px;
   }
   .discount .left
   {
     width:110px;
     float:left;
   }
   .discount .left img
   {
    border-radius:5px;
    height:82px;
   }
   .discount .right
   {
    padding-left:10px;
    float:left;
    width:60%;
   }
   .discount .right .title
   {
    font-size:14px;
    word-break: break-all;
   }
    .discount .right .dis
   {
    font-size:13px;
    word-break: break-all;
    color:#999;
     margin-top:7px;
   }
    .discount .right .time
   {
    font-size:12px;
    word-break: break-all;
    color:$color_e7;
    margin-top:10px;
   }
   .discount .right .btn
   {
     float:right;
     margin-top:10px;
     font-size:12px;
   }
   .discountdetail .one
   {
    padding:10px;
    font-size:14px;
    word-break: break-all;
    line-height:2em;
    background:$color_fff;
   }
   .discountdetail .two
   {
    font-size:14px;
    word-break: break-all;
    line-height:2em;
    padding:10px 40px;
    background:$color_fff;
   }
   .mg_10{
     margin-bottom:10px;
   }
   .my_btn .x-button:nth-last-child(1)
    {
     border-right:0px;
    }
    .my_btn .x-button-active
    {
      font-size:13px;
    }
    //我的拍券
    .paiquan
    {
      background: #f6f6f6;
      border: 1px solid #efefef;
      border-radius: 6px;
    }
    .paiquan .discard .list .one .img
    {
     padding:0px!important;
    }
    .paiquan .remess .list .one .name
    {
     padding: 8px 1px 1px 15px;
    }
    .paiquan .confirm_w
    {
     width:100%;
    }
    .color_38
    {
     color:#383838;
    }
    .paiquan .likea
    {
      background: url("../images/two_icon1.jpg") no-repeat;
      background-size: auto 12px;
      background-position: 5px 10px;
      text-indent: 20px;
      font-weight: bold;
      border-bottom: 1px solid #ccc;
      margin: 5px;
      word-wrap: break-word;
      word-break: break-all;
      line-height: 23px;
      padding: 5px 0px;

    }
    .paiquan .dis
    {
      word-wrap: break-word;
      word-break: break-all;
      line-height: 20px;
      margin: 5px;
    }
    //一拍到底样式修改
    .yi_product .list .price
    {
     width:100%;
     position: relative;
     top: -143px;
     height:20px;
     color:$color_fff;
     font-size:12px;
     background:transparent;
    }
    .yi_product .list .price .left
    {
   
     background: url("../images/yi_zhezhao.png") repeat-x;
     text-align: center;
     padding-top: 4px;
     height:20px;
     background-size:auto 20px;
     float:left;
     width:50%;
    }
     .yi_product .list .price .right
    {
      float:left;
      width:50%;
      background: #e76049;
      height: 20px;
      padding-top: 4px;
    }
    //分类列表
    .listting .product
    {
     background:$color_fff;
     margin-top: 10px;
    }
     .listting .todayTitle:ntn-child(1)
    {
     margin-top:0px;
    }
    .listting  .todayTitle
    {
      margin-top:10px;  border:0px;
    }
    .listting .product .mulu ul
    {
     list-style:none;
     padding:0px;
     margin:0px;
    }
    .listting .product .mulu ul li
    {
     float:left;
     margin-left:10px;
     padding-bottom:10px;
    }

    //积分兑换拍券
    .change
    {
      width: 50%;
      padding: 10px;
      float: left;
      background:#f6f6f6;
    }
    .change .card
    {
      background:$color_fff;
      text-align:center;
    }
    .change .card:nth-last-child
    {
     border-right:0px;
    }
    @mixin renmin
    {
      background-size:auto 25px;
      background-position:center 8px;
      height:35px;
    }
    .change .card .m5
    {
      background:url('../images/m5.png') no-repeat;
      @include renmin;

    }
     .change .card .m10
    {
      background:url('../images/m10.png') no-repeat;
      @include renmin;
    }
     .change .card .m20
    {
      background:url('../images/m20.png') no-repeat;
      @include renmin;
    }
     .change .card .m50
    {
      background:url('../images/m50.png') no-repeat;
      @include renmin;
    }
    .change .card .jifen
    {
      background:url('../images/score.png') left no-repeat;
      background-size:22px 22px;
      width:100px;
      text-indent:24px;
      color:$color_e7;
      margin:8px auto;
      width: 60px;
      text-align: left;
      height: 22px;
      padding-top: 5px;
    }
     .change .card .input
     {
      padding:5px;
     }
     .change .btn
     {
       padding:0px 0px 5px;
     }

    .radio{
      width:18px;
      height:18px;
      background:url('../images/radio.png') no-repeat;
      background-size:18px 18px;
    }
    .radio_check{
      background:url('../images/radio_check.png') no-repeat;
      background-size:18px 18px;
    }

    .exchange_area{
      background:#fff;
      padding:20px 0;
    }
    .exchange_btn_add, .exchange_btn_minus{
      background:#ffbd00;
      border-radius:5px;
      font-family:'iOS7';
      width: 30px;
      height: 30px;
      line-height: 24px;
      color: #fff;
      font-size: 30px;
    }
    .exchange_input{
      border:1px solid #d5d5d5;
      width:65px;
      margin:-5px 12px;
      text-align:center;
      font-size:20px;
      line-height:35px;
    }
    .consignee-list-item{
      background:#fff;
      margin-bottom:2px;
      padding:10px;
    }
    .consignee-list-item:last-child{
      margin-bottom:0;
    }
    .consignee-list-item .selected{
      background:#fff url(../images/yi_success.png) no-repeat 96% center;
      background-size:14px auto;
    }
    .consignee-list-item h3{
      font-size:14px;
      font-weight:bold;
      margin-bottom:12px;
    }
    .consignee-list-item p{
      color:#666;
      line-height:1.2; 
    }

//登陆页面
.login_bg{
  background:url('../images/login_bg.jpg') no-repeat;
  width:100%;
  background-size:100% 100%;
  font-size:14px;
}
.login_bg .x-button-normal{
  color:$color_fff;
}
.log_logo{
  background:url('../images/log_logo.png') no-repeat;
  width:82px;height:81px; 
  margin:49px auto;
  background-size:contain;
}
.log_input{
  width:200px;
  min-height:31px;
  margin:auto;
  border-radius:3px 3px 0px 0px;
  background:$color_fff;
  border-bottom:1px solid #f6f6f6;
}
.log_input .x-input-el,.log_input1 .x-input-el
{
  min-height: 2em;
  border-width: 0;
  -webkit-appearance: none;
  font-size: 14px;
}
.log_input1{
  width:200px;
  min-height:31px;
  margin:auto;
  border-radius:0px 0px 3px 3px;
  background:$color_fff;
}
.log_input .x-field-text{
  border-radius:15px;
  border-bottom:1px solid #f6f6f6;
  height:30px;
}
.log_input .x-input-el{
  border-radius:10px;
}
.login_btn{
  width:200px;
  background:$color_e7;
  color:$color_fff;
  text-align:center;
  padding-top:7px;
  height:30px;
  border-radius:5px;
  margin:8px auto;
}
.float_left
{
  float:left; 
}
.float_right
{
  float:right; 
}
.log_reg{
  width:200px;
  margin:auto;
}
.log_reg .x-button{
  border:0px;
  background:transparent;
}
.log_reg .x-button-normal .x-button-label
{
  color:$color_fff;
}
.log_regf{
  width:200px;
  margin:auto;
  background:#fff; 
  background:rgba(255,255,255,0.4); 
  filter:alpha(opacity=40);
  color:$color_fff;
}
@mixin log_bqq{
  background-size:contain;
  color:$color_fff;
  height:23px;
  width:98px;
  }
.log_qq{
  background:url('../images/login_qq.png') no-repeat;
  @include log_bqq;
  text-align: left;
  padding: 5px 0px 5px 15px;
  font-size: 12px
  
}
.log_wb{
  background:url('../images/login_wb.png') no-repeat;
  @include log_bqq;
  ftext-align: right;
  padding: 5px 0px 5px 25px;
  margin-left: 3px;
  font-size: 12px
}
.register{
  font-size:14px;
}
.register .x-field
{
  margin-top:10px;
}
.register .x-field .x-field-input
{
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-radius:0px;
}
.register .x-input-el{
  padding:.8em 1em;
}
.register .x-input-el,.register .x-field
{
  min-height:2em;
}
.register .x-button-normal .x-button-label
{
  color:#fff;
}
.login_error
{
  font-size:14px;border-radius:5px;color:#fff;width:200px;margin:8px auto;padding:6px 10px;background:#000; opacity: 0.5; filter: progid:DXImageTransform.Microsoft.alpha(opacity=50);
}

